<section class="container editar-alunos ff-inter">
  <header class="header">
    <h2>Adicione um <br>aluno novo:</h2>
  </header>
  <form>
    <div class="form-group">
      <label for="aluno">Email:</label>
      <textarea
        id="aluno"
        name="aluno"
        class="input"
        placeholder="Digite o email do aluno"
        [(ngModel)]="aluno.conteudo"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="autoria">Nome:</label>
      <input
        type="text"
        id="autoria"
        name="autoria"
        class="input"
        placeholder="Digite o nome"
        [(ngModel)]="aluno.autoria"
      >
    </div>

    <label for="modelo">Selecione o modelo do card:</label>
    <div style="display: flex; justify-content: center;" class="form-group">
      <div class="container-radio">
        <div class="radio-modelo">
          <label for="modelo1">
            <input
              type="radio"
              id="modelo1"
              value="modelo1"
              name="modelo-card"
              [(ngModel)]="aluno.modelo"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 1</span>
          </label>
          Prévia:
          <div class="modelo modelo1 ff-roboto-mono">
            <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis">
            <p class="conteudo">{{ aluno.conteudo }}</p>
            <p class="autoria"><b>{{ aluno.autoria }}</b></p>
            <br>
            <p class="autoria"><b>Matrícula: {{ aluno.id }}</b></p>
          </div>
        </div>

        <div class="radio-modelo">
          <label for="modelo2">
            <input
              type="radio"
              id="modelo2"
              value="modelo2"
              name="modelo-card"
              [(ngModel)]="aluno.modelo"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 2</span>
          </label>
          Prévia:
          <div class="modelo modelo2 ff-roboto-mono">
            <img src="../../../../assets/imagens/modelo2.png" alt="Aspas azul claro">
            <p class="conteudo">{{ aluno.conteudo }}</p>
            <p class="autoria"><b>{{ aluno.autoria }}</b></p>
            <br>
            <p class="autoria"><b>Matrícula: {{ aluno.id }}</b></p>
          </div>
        </div>

        <div class="radio-modelo">
          <label for="modelo3">
            <input
              type="radio"
              id="modelo3"
              value="modelo3"
              name="modelo-card"
              [(ngModel)]="aluno.modelo"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 3</span>
          </label>
          Prévia:
          <div class="modelo modelo3 ff-roboto-mono">
            <img src="../../../../assets/imagens/modelo3.png" alt="Aspas verdes">
            <p class="conteudo">{{ aluno.conteudo }}</p>
            <p class="autoria"><b>{{ aluno.autoria }}</b></p>
            <br>
            <p class="autoria"><b>Matrícula: {{ aluno.id }}</b></p>
          </div>
        </div>
      </div>
    </div>

    <div class="acoes">
      <button (click)="editarAluno()" class="botao">Salvar</button>
      <button (click)="cancelar()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
