<div class="container">
  <h2>Cadastrar Novo Aluno</h2>
  <form (submit)="createAluno()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="novoAluno.nome" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="novoAluno.email" required>
    </div>
    <div class="form-group">
      <label for="numeroMatricula">Número de Matrícula:</label>
      <input type="text" class="form-control" id="numeroMatricula" name="numeroMatricula" [(ngModel)]="novoAluno.numeroMatricula" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar Aluno</button>
  </form>
</div>
